.address_div {
  border: 1px solid;
  height: 340px;
  width: 46%;
}

.add_address {
  border: 1px solid red;
  height: 285px;
  width: 100%;
}
.add_address_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.line {
  width: 100%;
  height: 2px;
  border: 1px solid;
}
